@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html[data-theme='default'] {
    /* Gray */
    --color-gray-50: 248, 250, 252;
    --color-gray-100: 234, 240, 246;
    --color-gray-200: 226, 232, 240;
    --color-gray-300: 203, 213, 225;
    --color-gray-400: 148, 163, 184;
    --color-gray-500: 100, 116, 139;
    --color-gray-600: 71, 85, 105;
    --color-gray-700: 51, 65, 85;
    --color-gray-800: 30, 41, 59;
    --color-gray-850: 22, 32, 49;
    --color-gray-900: 15, 23, 42;

    /* Primary */
    --color-primary-50: 83, 85, 94;
    --color-primary-100: 73, 75, 84;
    --color-primary-200: 63, 65, 74;
    --color-primary-300: 53, 55, 64;
    --color-primary-400: 43, 45, 54;
    --color-primary-500: 33, 35, 44;
    --color-primary-600: 23, 25, 34;
    --color-primary-700: 13, 15, 24;
    --color-primary-800: 3, 5, 14;
    --color-primary-900: 0, 0, 4;

    /* Primary Dark */
    --color-primary-dark-50: 106, 124, 255;
    --color-primary-dark-100: 96, 114, 255;
    --color-primary-dark-200: 86, 104, 255;
    --color-primary-dark-300: 76, 94, 255;
    --color-primary-dark-400: 66, 84, 255;
    --color-primary-dark-500: 56, 74, 255;
    --color-primary-dark-600: 46, 64, 245;
    --color-primary-dark-700: 36, 54, 235;
    --color-primary-dark-800: 26, 44, 225;
    --color-primary-dark-900: 16, 34, 215;

    /* Blue */
    --color-blue-50: 239, 246, 255;
    --color-blue-100: 219, 234, 254;
    --color-blue-200: 191, 219, 254;
    --color-blue-300: 147, 197, 253;
    --color-blue-400: 96, 165, 250;
    --color-blue-500: 59, 130, 246;
    --color-blue-600: 37, 99, 235;
    --color-blue-700: 29, 78, 216;
    --color-blue-800: 30, 64, 175;
    --color-blue-900: 30, 58, 138;

    /* Pink */
    --color-pink-50: 253, 242, 248;
    --color-pink-100: 252, 231, 243;
    --color-pink-200: 251, 207, 232;
    --color-pink-300: 249, 168, 212;
    --color-pink-400: 252, 37, 255;
    --color-pink-500: 242, 27, 246;
    --color-pink-600: 232, 17, 236;
    --color-pink-700: 222, 7, 226;
    --color-pink-800: 212, 0, 216;
    --color-pink-900: 202, 0, 206;

    /* Purple */
    --color-purple-50: 250, 245, 255;
    --color-purple-100: 250, 245, 255;
    --color-purple-200: 233, 213, 255;
    --color-purple-300: 216, 180, 254;
    --color-purple-400: 192, 132, 252;
    --color-purple-500: 168, 85, 247;
    --color-purple-600: 147, 51, 234;
    --color-purple-700: 126, 34, 206;
    --color-purple-800: 107, 33, 168;
    --color-purple-900: 88, 28, 135;

    /* Yellow */
    --color-yellow-50: 255, 251, 234;
    --color-yellow-100: 255, 246, 213;
    --color-yellow-200: 255, 238, 173;
    --color-yellow-300: 254, 230, 132;
    --color-yellow-400: 254, 221, 92;
    --color-yellow-500: 254, 213, 51;
    --color-yellow-600: 248, 198, 1;
    --color-yellow-700: 192, 153, 1;
    --color-yellow-800: 136, 109, 1;
    --color-yellow-900: 80, 64, 0;

    /* Orange */
    --color-orange-50: 255, 251, 235;
    --color-orange-100: 254, 243, 199;
    --color-orange-200: 253, 230, 138;
    --color-orange-300: 252, 211, 77;
    --color-orange-400: 251, 191, 36;
    --color-orange-500: 245, 158, 11;
    --color-orange-600: 217, 119, 6;
    --color-orange-700: 180, 83, 9;
    --color-orange-800: 146, 64, 14;
    --color-orange-900: 120, 53, 15;
  }

  html[data-theme='telos'] {
    /* Gray */
    --color-gray-50: 248, 248, 250;
    --color-gray-100: 235, 235, 240;
    --color-gray-200: 220, 220, 230;
    --color-gray-300: 200, 200, 210;
    --color-gray-400: 160, 160, 170;
    --color-gray-500: 120, 120, 130;
    --color-gray-600: 90, 90, 100;
    --color-gray-700: 60, 60, 70;
    --color-gray-800: 40, 40, 50;
    --color-gray-850: 30, 30, 40;
    --color-gray-900: 20, 20, 30;

    /* Primary */
    --color-primary-50: 83, 85, 94;
    --color-primary-100: 73, 75, 84;
    --color-primary-200: 63, 65, 74;
    --color-primary-300: 53, 55, 64;
    --color-primary-400: 43, 45, 54;
    --color-primary-500: 33, 35, 44;
    --color-primary-600: 23, 25, 34;
    --color-primary-700: 13, 15, 24;
    --color-primary-800: 3, 5, 14;
    --color-primary-900: 0, 0, 4;

    /* Primary Dark */
    --color-primary-dark-50: 106, 124, 255;
    --color-primary-dark-100: 96, 114, 255;
    --color-primary-dark-200: 86, 104, 255;
    --color-primary-dark-300: 76, 94, 255;
    --color-primary-dark-400: 66, 84, 255;
    --color-primary-dark-500: 56, 74, 255;
    --color-primary-dark-600: 46, 64, 245;
    --color-primary-dark-700: 36, 54, 235;
    --color-primary-dark-800: 26, 44, 225;
    --color-primary-dark-900: 16, 34, 215;

    /* Blue */
    --color-blue-50: 235, 230, 255;
    --color-blue-100: 220, 205, 255;
    --color-blue-200: 185, 155, 255;
    --color-blue-300: 160, 120, 250;
    --color-blue-400: 130, 80, 225; /* This is the new value */
    --color-blue-500: 110, 60, 210;
    --color-blue-600: 90, 40, 190;
    --color-blue-700: 70, 30, 170;
    --color-blue-800: 50, 20, 150;
    --color-blue-900: 30, 10, 130;

    /* Pink */
    --color-pink-50: 253, 242, 248;
    --color-pink-100: 252, 231, 243;
    --color-pink-200: 251, 207, 232;
    --color-pink-300: 249, 168, 212;
    --color-pink-400: 252, 37, 255;
    --color-pink-500: 242, 27, 246;
    --color-pink-600: 232, 17, 236;
    --color-pink-700: 222, 7, 226;
    --color-pink-800: 212, 0, 216;
    --color-pink-900: 202, 0, 206;

    /* Purple */
    --color-purple-50: 250, 245, 255;
    --color-purple-100: 250, 245, 255;
    --color-purple-200: 233, 213, 255;
    --color-purple-300: 216, 180, 254;
    --color-purple-400: 192, 132, 252;
    --color-purple-500: 168, 85, 247;
    --color-purple-600: 147, 51, 234;
    --color-purple-700: 126, 34, 206;
    --color-purple-800: 107, 33, 168;
    --color-purple-900: 88, 28, 135;

    /* Yellow */
    --color-yellow-50: 243, 242, 255;
    --color-yellow-100: 233, 232, 255;
    --color-yellow-200: 218, 217, 255;
    --color-yellow-300: 210, 209, 253;
    --color-yellow-400: 207, 206, 251;
    --color-yellow-500: 203, 202, 249; /* This is the new value */
    --color-yellow-600: 183, 182, 239;
    --color-yellow-700: 163, 162, 229;
    --color-yellow-800: 143, 142, 219;
    --color-yellow-900: 123, 122, 209;

    /* Orange */
    --color-orange-50: 255, 251, 235;
    --color-orange-100: 254, 243, 199;
    --color-orange-200: 253, 230, 138;
    --color-orange-300: 252, 211, 77;
    --color-orange-400: 251, 191, 36;
    --color-orange-500: 245, 158, 11;
    --color-orange-600: 217, 119, 6;
    --color-orange-700: 180, 83, 9;
    --color-orange-800: 146, 64, 14;
    --color-orange-900: 120, 53, 15;
  }
}

html[data-theme='celo'] {
  /* Gray */
  --color-gray-50: 245, 245, 245; /* Lightest gray */
  --color-gray-100: 237, 237, 237;
  --color-gray-200: 222, 222, 222;
  --color-gray-300: 200, 200, 200;
  --color-gray-400: 169, 169, 169;
  --color-gray-500: 139, 139, 139;
  --color-gray-600: 109, 109, 109;
  --color-gray-700: 79, 79, 79;
  --color-gray-800: 49, 49, 49; /* Darker gray */
  --color-gray-850: 36, 37, 38; /* Even darker gray */
  --color-gray-900: 24, 25, 26; /* New base color */

  /* Primary */
  --color-primary-50: 83, 85, 94;
  --color-primary-100: 73, 75, 84;
  --color-primary-200: 63, 65, 74;
  --color-primary-300: 53, 55, 64;
  --color-primary-400: 43, 45, 54;
  --color-primary-500: 33, 35, 44;
  --color-primary-600: 23, 25, 34;
  --color-primary-700: 13, 15, 24;
  --color-primary-800: 3, 5, 14;
  --color-primary-900: 0, 0, 4;

  /* Primary Dark */
  --color-primary-dark-50: 106, 124, 255;
  --color-primary-dark-100: 96, 114, 255;
  --color-primary-dark-200: 86, 104, 255;
  --color-primary-dark-300: 76, 94, 255;
  --color-primary-dark-400: 66, 84, 255;
  --color-primary-dark-500: 56, 74, 255;
  --color-primary-dark-600: 46, 64, 245;
  --color-primary-dark-700: 36, 54, 235;
  --color-primary-dark-800: 26, 44, 225;
  --color-primary-dark-900: 16, 34, 215;

  /* Blue */
  --color-blue-50: 252, 255, 240; /* Lightest yellow */
  --color-blue-100: 252, 255, 220;
  --color-blue-200: 252, 255, 180;
  --color-blue-300: 252, 255, 140;
  --color-blue-400: 252, 255, 82; /* New base color */
  --color-blue-500: 227, 230, 50;
  --color-blue-600: 202, 205, 30;
  --color-blue-700: 177, 180, 10;
  --color-blue-800: 152, 155, 0; /* Darker yellow */
  --color-blue-900: 127, 130, 0; /* Darkest yellow */

  /* Pink */
  --color-pink-50: 245, 255, 240; /* Lightest green-tinted shade */
  --color-pink-100: 235, 255, 230;
  --color-pink-200: 215, 255, 210;
  --color-pink-300: 195, 255, 190;
  --color-pink-400: 165, 255, 160;
  --color-pink-500: 118, 153, 86; /* A mid-point green-tinted shade */
  --color-pink-600: 71, 101, 32; /* New base color */
  --color-pink-700: 63, 90, 28;
  --color-pink-800: 55, 79, 24;
  --color-pink-900: 47, 68, 20; /* Darkest green-tinted shade */

  /* Purple */
  --color-purple-50: 250, 245, 255;
  --color-purple-100: 250, 245, 255;
  --color-purple-200: 233, 213, 255;
  --color-purple-300: 216, 180, 254;
  --color-purple-400: 192, 132, 252;
  --color-purple-500: 168, 85, 247;
  --color-purple-600: 147, 51, 234;
  --color-purple-700: 126, 34, 206;
  --color-purple-800: 107, 33, 168;
  --color-purple-900: 88, 28, 135;

  /* Yellow */
  --color-yellow-50: 255, 251, 234;
  --color-yellow-100: 255, 246, 213;
  --color-yellow-200: 255, 238, 173;
  --color-yellow-300: 254, 230, 132;
  --color-yellow-400: 254, 221, 92;
  --color-yellow-500: 254, 213, 51;
  --color-yellow-600: 248, 198, 1;
  --color-yellow-700: 192, 153, 1;
  --color-yellow-800: 136, 109, 1;
  --color-yellow-900: 80, 64, 0;

  /* Orange */
  --color-orange-50: 255, 251, 235;
  --color-orange-100: 254, 243, 199;
  --color-orange-200: 253, 230, 138;
  --color-orange-300: 252, 211, 77;
  --color-orange-400: 251, 191, 36;
  --color-orange-500: 245, 158, 11;
  --color-orange-600: 217, 119, 6;
  --color-orange-700: 180, 83, 9;
  --color-orange-800: 146, 64, 14;
  --color-orange-900: 120, 53, 15;
}

html[data-theme='gnosis-chain'] {
  /* Gray */
  --color-gray-50: 217, 223, 220; /* Darker lightest green/gray */
  --color-gray-100: 207, 215, 212;
  --color-gray-200: 189, 205, 199;
  --color-gray-300: 171, 195, 186;
  --color-gray-400: 147, 175, 167;
  --color-gray-500: 121, 153, 145;
  --color-gray-600: 95, 131, 123;
  --color-gray-700: 69, 109, 101;
  --color-gray-800: 43, 72, 65; /* Darker green/gray */
  --color-gray-850: 31, 58, 51; /* Even darker green/gray */
  --color-gray-900: 19, 38, 29; /* New darkest green/gray */

  /* Primary */
  --color-primary-50: 83, 85, 94;
  --color-primary-100: 73, 75, 84;
  --color-primary-200: 63, 65, 74;
  --color-primary-300: 53, 55, 64;
  --color-primary-400: 43, 45, 54;
  --color-primary-500: 33, 35, 44;
  --color-primary-600: 23, 25, 34;
  --color-primary-700: 13, 15, 24;
  --color-primary-800: 3, 5, 14;
  --color-primary-900: 0, 0, 4;

  /* Primary Dark */
  --color-primary-dark-50: 106, 124, 255;
  --color-primary-dark-100: 96, 114, 255;
  --color-primary-dark-200: 86, 104, 255;
  --color-primary-dark-300: 76, 94, 255;
  --color-primary-dark-400: 66, 84, 255;
  --color-primary-dark-500: 56, 74, 255;
  --color-primary-dark-600: 46, 64, 245;
  --color-primary-dark-700: 36, 54, 235;
  --color-primary-dark-800: 26, 44, 225;
  --color-primary-dark-900: 16, 34, 215;

  /* Blue */
  --color-blue-50: 243, 255, 252; /* Slightly less light lightest green */
  --color-blue-100: 233, 255, 247;
  --color-blue-200: 223, 255, 242;
  --color-blue-300: 203, 255, 237;
  --color-blue-400: 173, 235, 217; /* Slightly less light new base color */
  --color-blue-500: 153, 225, 207;
  --color-blue-600: 133, 215, 197;
  --color-blue-700: 113, 205, 187;
  --color-blue-800: 93, 195, 177; /* Slightly less light darker green */
  --color-blue-900: 73, 185, 167; /* Slightly less light darkest green */

  /* Pink */
  --color-pink-50: 217, 223, 220; /* Darker lightest green/gray */
  --color-pink-100: 207, 215, 212;
  --color-pink-200: 189, 205, 199;
  --color-pink-300: 171, 195, 186;
  --color-pink-400: 147, 175, 167;
  --color-pink-500: 121, 153, 145;
  --color-pink-600: 95, 131, 123;
  --color-pink-700: 69, 109, 101;
  --color-pink-800: 43, 72, 65; /* Darker green/gray */
  --color-pink-850: 31, 58, 51; /* Even darker green/gray */
  --color-pink-900: 19, 38, 29; /* New darkest green/gray */

  /* Purple */
  --color-purple-50: 250, 245, 255;
  --color-purple-100: 250, 245, 255;
  --color-purple-200: 233, 213, 255;
  --color-purple-300: 216, 180, 254;
  --color-purple-400: 192, 132, 252;
  --color-purple-500: 168, 85, 247;
  --color-purple-600: 147, 51, 234;
  --color-purple-700: 126, 34, 206;
  --color-purple-800: 107, 33, 168;
  --color-purple-900: 88, 28, 135;

  /* Yellow */
  --color-yellow-50: 245, 250, 255; /* Lightest shade adjusted to be closer to white */
  --color-yellow-100: 237, 242, 255; /* Slightly darker */
  --color-yellow-200: 221, 228, 255; /* Even darker */
  --color-yellow-300: 199, 210, 255; /* Midway lighter blue */
  --color-yellow-400: 182, 196, 255; /* Closer to the new --color-yellow-500 */
  --color-yellow-500: 166, 188, 245; /* New base color */
  --color-yellow-600: 150, 170, 220; /* Slightly darker than base */
  --color-yellow-700: 134, 152, 195; /* Even darker */
  --color-yellow-800: 118, 134, 170; /* Darker still */
  --color-yellow-900: 102, 116, 145; /* Darkest shade adjusted to be closer to dark blue */

  /* Orange */
  --color-orange-50: 255, 251, 235;
  --color-orange-100: 254, 243, 199;
  --color-orange-200: 253, 230, 138;
  --color-orange-300: 252, 211, 77;
  --color-orange-400: 251, 191, 36;
  --color-orange-500: 245, 158, 11;
  --color-orange-600: 217, 119, 6;
  --color-orange-700: 180, 83, 9;
  --color-orange-800: 146, 64, 14;
  --color-orange-900: 120, 53, 15;
}

html[data-theme='meter'] {
  /* Gray */

  /* Gray scale with a navy touch */
  --color-gray-50: 242, 242, 245; /* Lightest, almost white with a hint of blue */
  --color-gray-100: 230, 230, 240; /* Very light gray with a subtle blue undertone */
  --color-gray-200: 215, 215, 230; /* Clear, light gray-blue */
  --color-gray-300: 190, 190, 210; /* Brighter, leading up to the deeper shades */
  --color-gray-400: 150, 150, 180; /* Transitioning more into the blue spectrum */
  --color-gray-500: 110, 110, 150; /* Slightly desaturated blue */
  --color-gray-600: 80, 80, 120; /* Deeper blue, maintaining a grayish vibe */
  --color-gray-700: 50, 50, 90; /* Darker blue-gray, getting closer to navy */
  --color-gray-800: 30, 30, 60; /* Deep navy, still a bit of lightness */
  --color-gray-850: 20, 25, 53; /* Very dark navy, almost matching --color-gray-900 */
  --color-gray-900: 10, 25, 47; /* New, very dark navy blue */

  /* Primary */
  --color-primary-50: 83, 85, 94;
  --color-primary-100: 73, 75, 84;
  --color-primary-200: 63, 65, 74;
  --color-primary-300: 53, 55, 64;
  --color-primary-400: 43, 45, 54;
  --color-primary-500: 33, 35, 44;
  --color-primary-600: 23, 25, 34;
  --color-primary-700: 13, 15, 24;
  --color-primary-800: 3, 5, 14;
  --color-primary-900: 0, 0, 4;

  /* Primary Dark */
  --color-primary-dark-50: 106, 124, 255;
  --color-primary-dark-100: 96, 114, 255;
  --color-primary-dark-200: 86, 104, 255;
  --color-primary-dark-300: 76, 94, 255;
  --color-primary-dark-400: 66, 84, 255;
  --color-primary-dark-500: 56, 74, 255;
  --color-primary-dark-600: 46, 64, 245;
  --color-primary-dark-700: 36, 54, 235;
  --color-primary-dark-800: 26, 44, 225;
  --color-primary-dark-900: 16, 34, 215;

  /* Blue */
  --color-blue-50: 250, 255, 255; /* Lightest, almost white with a hint of blue */
  --color-blue-100: 235, 245, 255; /* Very light blue */
  --color-blue-200: 215, 235, 255; /* Clear, light blue */
  --color-blue-300: 185, 215, 255; /* Brighter, leading up to the vibrant 400 */
  --color-blue-400: 51, 153, 255; /* New, much brighter base color */
  --color-blue-500: 41, 143, 235; /* Slightly less bright for contrast */
  --color-blue-600: 31, 133, 215; /* Maintaining a vibrant gradient */
  --color-blue-700: 21, 123, 195; /* Darker yet still bright */
  --color-blue-800: 11, 113, 175; /* Deeper blue, retaining brightness */
  --color-blue-900: 1, 103, 155; /* Darkest in the series, still vivid */

  /* Transition from Pink to Navy Blue */
  --color-pink-50: 253, 242, 255; /* Lightest, almost white with a hint of pink */
  --color-pink-100: 252, 231, 255; /* Very light pink */
  --color-pink-200: 251, 207, 255; /* Clear, light pink */
  --color-pink-300: 245, 178, 255; /* Transitioning towards blue */
  --color-pink-400: 238, 150, 255; /* Deeper pink, edging into purple */
  --color-pink-500: 231, 122, 220; /* Purple, as a bridge to darker blue */
  --color-pink-600: 0, 31, 63; /* Navy Blue, the new base color */
  --color-pink-700: 0, 28, 57; /* Slightly darker navy */
  --color-pink-800: 0, 25, 51; /* Even darker, maintaining the gradient */
  --color-pink-900: 0, 22, 45; /* Darkest in the series, deep navy */

  /* Transition from Light Blue to Navy Blue */
  --color-purple-50: 240, 245, 255; /* Lightest blue, almost white */
  --color-purple-100: 230, 235, 255; /* Very light blue */
  --color-purple-200: 210, 220, 255; /* Clear, light blue */
  --color-purple-300: 180, 200, 255; /* Brighter, leading up to the vibrant mid-tones */
  --color-purple-400: 150, 170, 255; /* Transition shade towards deeper blue */
  --color-purple-500: 120, 140, 255; /* Adjusted to fit the new base color, still quite bright */
  --color-purple-600: 0, 31, 63; /* Navy Blue, the new base color */
  --color-purple-700: 0, 28, 57; /* Slightly darker navy */
  --color-purple-800: 0, 25, 51; /* Darker, maintaining the gradient */
  --color-purple-900: 0, 22, 45; /* Darkest in the series, deep navy */

  /* Yellow */
  --color-yellow-50: 255, 255, 240; /* Lightest, almost white with a hint of yellow */
  --color-yellow-100: 255, 255, 230; /* Very light yellow */
  --color-yellow-200: 255, 255, 210; /* Clear, light yellow */
  --color-yellow-300: 255, 255, 190; /* Brighter, leading up to the vibrant 400 */
  --color-yellow-400: 255, 255, 170; /* New, much brighter base color */
  --color-yellow-500: 255, 250, 150; /* Adjusted to fit the new base color */
  --color-yellow-600: 255, 245, 130; /* Brighter, maintaining the gradient */
  --color-yellow-700: 255, 240, 110; /* Incrementally brighter */
  --color-yellow-800: 255, 235, 90; /* Keeping the brightness up */
  --color-yellow-900: 255, 230, 70; /* Brightest deep shade */

  /* Orange */
  --color-orange-50: 255, 251, 235;
  --color-orange-100: 254, 243, 199;
  --color-orange-200: 253, 230, 138;
  --color-orange-300: 252, 211, 77;
  --color-orange-400: 251, 191, 36;
  --color-orange-500: 245, 158, 11;
  --color-orange-600: 217, 119, 6;
  --color-orange-700: 180, 83, 9;
  --color-orange-800: 146, 64, 14;
  --color-orange-900: 120, 53, 15;
}

html[data-theme='taiko'] {
  /* Blue */
  --color-blue-50: 248, 203, 229;
  --color-blue-100: 244, 182, 220;
  --color-blue-200: 238, 152, 205;
  --color-blue-300: 225, 106, 179;
  --color-blue-400: 232, 24, 153; /* New Primary Color */
  --color-blue-500: 195, 20, 128;
  --color-blue-600: 163, 17, 107;
  --color-blue-700: 132, 14, 87;
  --color-blue-800: 101, 11, 66;
  --color-blue-900: 71, 8, 46;

  /* Gray */

  /* Gray */
  --color-gray-50: 233, 233, 233;
  --color-gray-100: 211, 211, 211; /* Dark Text */
  --color-gray-200: 185, 185, 185;
  --color-gray-300: 149, 149, 149;
  --color-gray-400: 185, 185, 185; /* Text Secondary dark */
  --color-gray-500: 76, 76, 76;
  --color-gray-600: 58, 58, 58;
  --color-gray-700: 70, 70, 70; /* Select Box Background */
  --color-gray-800: 28, 28, 28; /* Box Input Background */
  --color-gray-850: 19, 19, 19; /* Box Background */
  --color-gray-900: 24, 25, 26; /* Background */

  /* Pink */
  --color-pink-50: 255, 235, 240;
  --color-pink-100: 255, 210, 220;
  --color-pink-200: 255, 180, 195;
  --color-pink-300: 255, 150, 175;
  --color-pink-400: 255, 130, 165;
  --color-pink-500: 255, 115, 160;
  --color-pink-600: 255, 100, 150; /* Soft Pink/Peach Gradient Base */
  --color-pink-700: 230, 90, 135;
  --color-pink-800: 205, 80, 120;
  --color-pink-900: 180, 65, 100;

  /* Yellow */
  --color-yellow-500: 255, 226, 160; /* Stars Gradient */

  /* Purple */
  --color-purple-500: 99, 33, 182; /* Ve Stars Gradient */

  /* Orange */
  --color-orange-300: 252, 211, 77; /* Stars on Add liquidity */
  --color-orange-600: 217, 119, 6;
  --color-orange-700: 180, 83, 9;
}

html[data-theme='etherlink'] {
  /* Green */
  --color-blue-50: 225, 255, 239;
  --color-blue-100: 199, 255, 225;
  --color-blue-200: 163, 255, 205;
  --color-blue-300: 112, 255, 180;
  --color-blue-400: 56, 255, 156; /* New Primary Color */
  --color-blue-500: 50, 230, 140;
  --color-blue-600: 42, 200, 120;
  --color-blue-700: 34, 170, 102;
  --color-blue-800: 28, 140, 84;
  --color-blue-900: 22, 110, 66;

  /* Gray */

  /* Gray */
  --color-gray-50: 230, 230, 230;
  --color-gray-100: 208, 208, 208; /* Dark Text */
  --color-gray-200: 182, 182, 182;
  --color-gray-300: 147, 147, 147;
  --color-gray-400: 154, 154, 154; /* Text Secondary dark */
  --color-gray-500: 75, 75, 75;
  --color-gray-600: 57, 57, 57;
  --color-gray-700: 39, 39, 39; /* Select Box Background */
  --color-gray-800: 27, 27, 27; /* Box Input Background */
  --color-gray-900: 18, 18, 18; /* Box Background */
  --color-gray-850: 23, 23, 23; /* Background */

  /* Pink */
  --color-pink-50: 255, 235, 240;
  --color-pink-100: 255, 210, 220;
  --color-pink-200: 255, 180, 195;
  --color-pink-300: 255, 150, 175;
  --color-pink-400: 0, 100, 0; /* Gradient Loading */
  --color-pink-500: 255, 226, 160; /* Stars Gradient */
  --color-pink-600: 34, 170, 102; /* Gradient Base */
  --color-pink-700: 0, 128, 128; /* Gradient Hover */
  --color-pink-800: 205, 80, 120;
  --color-pink-900: 180, 65, 100;

  /* Yellow */
  --color-yellow-500: 122, 255, 189; /* Stars Gradient */

  /* Purple */
  --color-purple-500: 255, 226, 160; /* Ve Stars Gradient */

  /* Orange */
  --color-orange-300: 252, 211, 77; /* Stars on Add liquidity */
  --color-orange-600: 217, 119, 6;
  --color-orange-700: 180, 83, 9;
}

@layer utilities {
  .text-primary {
    @apply text-gray-900 dark:text-gray-100;
  }

  .text-secondary {
    @apply text-gray-600 dark:text-gray-400;
  }

  th,
  .font-thin,
  .font-extralight,
  .font-light,
  .font-normal,
  .font-medium,
  .font-semibold,
  .font-bold,
  .font-extrabold,
  .font-black {
    font-weight: unset;
  }

  th {
    font-variation-settings: 'wght' 600;
  }

  .font-thin {
    font-variation-settings: 'wght' 100;
  }

  .font-extralight {
    font-variation-settings: 'wght' 200;
  }

  .font-light {
    font-variation-settings: 'wght' 300;
  }

  .font-normal {
    font-variation-settings: 'wght' 400;
  }

  .font-medium {
    font-variation-settings: 'wght' 500;
  }

  .font-semibold {
    font-variation-settings: 'wght' 600;
  }

  .font-bold {
    font-variation-settings: 'wght' 700;
  }

  .font-extrabold {
    font-variation-settings: 'wght' 800;
  }

  .font-black {
    font-variation-settings: 'wght' 900;
  }

  .font-numeric {
    font-feature-settings: 'tnum';
    letter-spacing: -0.5px;
  }

  .eth-address {
    font-variant-ligatures: no-contextual;
  }

  .text-gradient {
    @apply bg-blue-500;

    background-image: linear-gradient(
      45deg,
      theme('colors.blue.700'),
      theme('colors.pink.500')
    );
    background-size: 100%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }

  .link {
    @apply text-blue-600 transition-all hover:text-purple-600 focus:text-purple-600 dark:text-blue-400 dark:hover:text-yellow-500 dark:focus:text-yellow-500 hover:underline focus:underline;
  }

  .link-black {
    @apply text-gray-900 transition-all hover:text-purple-600 focus:text-purple-600 dark:text-gray-100 dark:hover:text-yellow-500 dark:focus:text-yellow-500 hover:underline focus:underline;
  }

  .text-shadow {
    text-shadow: 0 1px 0 rgb(0 0 0 / 10%), 4px 4px 8px rgb(0 0 0 / 15%);
  }
}
